body{
    background-color: black;
    color: rgb(22, 103, 105);
}

h3{
    text-align: center;
}

.primeiro-titulo{
    /* *Coloca-se ponto pois estamos chamando
    * a classe */
    color: white;
    text-align: left;
}

/* * Trocar a cor do fundo do cabeçalho, a cor do título
* e a cor dos links */